[Unit]
Description=Feuerwehr-Versorgungs-Helfer NFC Reader
After=network.target
After=pcscd.service

[Service]
Type=simple
User=<user>
Group=<group>
WorkingDirectory=/home/<user>/Feuerwehr-Versorgungs-Helfer
Environment="PATH=/home/<user>/Feuerwehr-Versorgungs-Helfer/venv/bin"
ExecStartPre=/bin/sleep 30
ExecStart=python3 /home/<user>/Feuerwehr-Versorgungs-Helfer/nfc_reader.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
